#cstheaders {
    width: 100%;
    height: 200px;
    background-color: black;
    border-top: solid 2px darkorange;
    border-bottom: solid 2px darkorange;
}

#cstheaders img {
    width: 100%;
    height: 100%;
}

#cst {
    padding-bottom: 60px;
}

#programinfo {
margin-top: 40px;
}

#career {
margin-top: 40px;
}

#cst h2 {
    color: #00004d;
}

#programinfo h2 {
    color: #00004d;
}

#career h2 {
    color: #00004d;
}

#cstheaders {
    margin-top: 0;
}

#termtable {
    width: 100%;
}

#bodywrapper {
    width: 90%;
    margin: auto;
}

.leftcol p {
    cursor: pointer;
    color: #00004d;
    margin: 0;
    padding: 0;

}

.leftcol p:hover {
    font-weight: bold;
}

p {
    color: #00004d;
    font-size: 1em;
}

#cstbit p, #programinfo p, #career p {
    color: #1C616F;
    font-size: small;
}

#testing {
    display: none;
}

#c1510 {
    display: none;
}

#c1516 {
    display: none;
}

.onclick {
    color: #00004d;
}

.onclick:hover {
    color: #00004d;
    font-weight: bold;
    cursor: pointer;
}

/* Pre-made CSS */

.termblock {
	width: 200px;
	padding: 20px;
	display: inline-block;
	vertical-align: top;
	height: 320px;
}

.leftcol a {
	text-decoration: none;
}

.leftcol a:link {
    color: black;
}

.leftcol a:visited {
	color: black;
}

.leftcol a:hover {
	color: #00004d;
    font-weight: bold;
}

.leftcol a:active {
	color: white;
}

#termblock1 {
	margin: 30px 22px 0 30px;
}

#termblock2 {
	margin: 30px 21px 0 0;
}

#termblock3 {
	margin: 30px 22px 0 0;
}

#termblock4 {
	margin: 30px 30px 0 0;
}

#maincontent {
	width: 1116px;
	margin: 30px;
	padding: 20px;
	text-align: left;
    background-color: white;
    border: solid 2px #00004d;
}

table {
    width: inherit;
    border-spacing: 10px;
}

th {
    text-decoration: underline;
}

.leftcol {
    text-align: left;
    border: none;
}

.rightcol {
    text-align: right;
    border: none;
}

h2 {
    color: darkblue;
}
