html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
    background-color: beige;
}

.clearfloat {
    clear: both;
}

#headwrapper    {
                margin-top: 20px;
                height: 60px;
                position: fixed;
                width: 100%;
                z-index: 1;
                border-top: 1px solid #00004d;
                border-bottom: 1px solid #00004d;
}

#headlogo   {
            color: white;
            text-align: center;
            float: left;
            width: 20%;
            height: 100%;
            background-color: #00004d;
            opacity: 0.95;
            overflow: hidden;
}

.logospan {
    color: gold;
}

#headlogotext {
    padding-top: 25px;
    font-size: 1.2em;
}

#headlogotext a, #headlogotext a:visited {
    color: white;
    text-decoration: none;
}

#headrightwrapper {
                width: 80%;
                height: 100%;
                float: right;
                overflow: hidden;
}

#headtop    {
            background-color: #00004d;
            height: 20px;
            width: 100%;
            opacity: 0.95;
}

#headbot {
    height: 40px;
    width: 100%;
    background-color: #333;
    font-family: Arial;
    opacity: 0.95;
    padding-left: 100px;
}

#headbot a {
    text-decoration: none;
}

.navheaderlink {
    color: white;
}
.navheaderlink:hover {
    color: white;
}

.navlink {
    color: white;
    float: left;
    overflow: hidden;
    height: 80px;
    padding: 10px 30px 10px 0;
    width: 80px;
    text-align: center;
}

.navlink a, .navlink a:visited {
    color: white;
}

.navlink:hover {
    background-color: #333;
    color: white;
    cursor: pointer;
}

.dropleft {
    height: 100%;
    width: 220px;
    float: left;
}

.dropright {
    height: 100%;
    width: 180px;
    background-color: gray;
    float: right;
}

#dropcontent1 {
    display: none;
    position: absolute;
    margin-top: 11px;
    width: 400px;
    height: 250px;
    background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
}

#dropcontent1 a {
    color: white;
    display: block;
    padding-top: 15px;
    padding-left: 10px;
}

#dropcontent1 a:hover {
    background-color: #00004d;
    color: white;
}

#dropcontent2 {
    display: none;
    position: absolute;
    margin-top: 11px;
    width: 400px;
    height: 250px;
    background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
}

#dropcontent2 a {
    color: white;
    display: block;
    padding-top: 15px;
    padding-left: 10px;
}

#dropcontent2 a:hover {
    background-color: #00004d;
    color: white;
}

#dropcontent3 {
    display: none;
    position: absolute;
    margin-top: 11px;
    width: 400px;
    height: 250px;
    background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
}

#dropcontent3 a {
    color: white;
    display: block;
    padding-top: 15px;
    padding-left: 10px;
}

#dropcontent3 a:hover {
    background-color: #00004d;
    color: white;
}

#dropcontent4 {
    display: none;
    position: absolute;
    margin-top: 11px;
    width: 400px;
    height: 250px;
    background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
}

#dropcontent4 a {
    color: white;
    display: block;
    padding-top: 15px;
    padding-left: 10px;
}

#dropcontent4 a:hover {
    background-color: #00004d;
    color: white;
}

#dropcontent5 {
    display: none;
    position: absolute;
    margin-top: 11px;
    width: 400px;
    height: 250px;
    background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
}

#dropcontent5 a {
    color: white;
    display: block;
    padding-top: 15px;
    padding-left: 10px;
}

#dropcontent5 a:hover {
    background-color: #00004d;
    color: white;
}

.navlink:hover #dropcontent1 {
    display: block;
}

.navlink:hover #dropcontent2 {
    display: block;
}

.navlink:hover #dropcontent3 {
    display: block;
}

.navlink:hover #dropcontent4 {
    display: block;
}

.navlink:hover #dropcontent5 {
    display: block;
}

#mainlogo {
    width: 100%;
    height: 690px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#mainlogo img {
    width: 100%;
    height: 100%;
}

#mainwrapper {
    width: 100%;
    background-image: url("../../images/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 100px;
}

#introwrapper {
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding-top: 30px;
}

#introleftwrapper {
    width: 70%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}

#aboutspaid {
    width: 100%;
}

#spaidbit {
    padding-right: 40px;
}

#bcitnews {
    width: 100%;
}

#bcitnbit {
    margin-top: 50px;
}

#introrightwrapper {
    width: 30%;
    height: 100%;
    float: right;
    position: relative;
}

#calendar {
    height: 300px;
    padding: 5px;
}

#impdates {
    padding: 5px;
}

.impdatestxt {
    color: blue;
}

.impdatestxt2 {
    padding-left: 15px;
}

#spaidsm {
    margin-top: 30px;
}

.h1s {
    color: #00004d;
}

table, tr, td {
    margin: 0;
    padding: 0;
    border: 0;
}

#bcitheadlines {
    padding-right: 40px;
    overflow: hidden;
}

.newsimage {
    width: 230px;
}

.newsimage img {
    border: 1px solid black;
}

.newstext {
    color: black;
    padding: 0;
    margin: 0;
    vertical-align: top;
    padding-left: 30px;
}

.newstext a:visited {
    color: blue;
}

h3 {
    margin: 0;
    padding: 0;
    color: #00004d;
    font-size: 1.4em;
    padding-bottom: 10px;
}

.bluespan {
    color: blue;
}




/* Footer */

#footer {
    width: 100%;
    height: 300px;
    background-color: black;
    color: white;
}

#footertop {
    height: 250px;
    width: 100%;
    overflow: hidden;
}

#footerbot {
    height: 50px;
    width: 100%;
    text-align: center;
}

.footer1 {
    height: 100%;
    width: 15%;
    float: left;
}

.footer2 {
    padding-top: 40px;
    height: 100%;
    width: 14%;
    float: left;
    font-weight: bold;
}

.footer2 a, .footer2 a:visited {
    text-decoration: none;
    color: lightgrey;
}

#footerbot {
    color: lightgrey;
}

.footerbottomcontent {
    color: darkgrey;
    margin-top: 20px;
}

.footerbottomcontent a, .footerbottomcontent a:visited {
    color: darkgray;
    text-decoration: none;
    display: block;
    font-size: .8em;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 7px;
}

.footerbottomcontent a:hover {
    color: white;
}

#footersm {
    margin-top: 20px;
}

#footersm img {
    height: 20px;
    width: 20px;
}

#footersm a, #footersm a:visited, #footersm a:hover {
    text-decoration: none;
    display: inline;
}

.bodywrapper {
    width: 85%;
    margin: auto;
    padding-top: 40px;
}

/* dropdown div */

#csthoverr {
    display: none;
}

#csthover:hover + #csthoverr {
    display: block;
    position: absolute;
    z-index: 1;
}