#maincontent {
	width: 1116px;
	background-color: #EEE7E1;
	margin: 30px;
	padding: 20px;
	text-align: left;
}

#maincontent div {
	display: inline-block;
	margin-bottom: 20px;
}

img {
	float: left;
	margin-right: 10px;
	}