#whatis {
	width: 1116px;
	background-color: #EEE7E1;
	margin: 30px;
	padding: 20px;
	text-align: left;
}

#scrolllinks {
	width: 1218px;
	margin: auto;
	padding: 0;
	font-size: 1.5em;
	font-family: headerfont, Calibri, Arial;
}

#scrolllink1 {
	width: 372px;
	margin-left: 29px;
	margin-right: 5px;
	display: inline-block;
	background-color: #1C616F;
	border: solid black;
	border-width: 1px;
}

#scrolllink2 {
	width: 373px;
	margin-left: 5px;
	margin-right: 5px;
	display: inline-block;
	background-color: #1C616F;
	border: solid black;
	border-width: 1px;
}

#scrolllink3 {
	width: 372px;
	margin-left: 5px;
	margin-right: 32px;
	display: inline-block;
	background-color: #1C616F;
	border: solid black;
	border-width: 1px;
}

a {
	text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
    color: blue;
}

#scrolllinks a:link {
	color: white;
}

#scrolllinks a:visited {
	color: white;
}

#scrolllinks a:hover {
	color: #EEE7E1;
}


#scrolllinks a:active {
	color: #A2B6B8;
}

#maincontent {
	background-color: #EEE7E1;
	width: 1116px;
	margin: 30px;
	text-align: left;
	padding: 20px;
}
