#whatis {
	width: 1116px;
	background-color: #EEE7E1;
	margin: 30px;
	padding: 20px;
	text-align: left;
}

#scrolllinks {
	background-color: #1C616F;
	width: 1218px;
	border: solid black;
	border-width: 1px 0;
	padding: 5px 0;
}

#scrolllinks li {
	text-align: left;
	display: inline;
	font-size: 1.5em;
	font-family: headerfont, Calibri, Arial;
	padding: 0 200px 0 20px;
	border: solid black;
	border-width: 0 1px 0 1px;
}

#scrolllinks a {
	text-decoration: none;
}

#scrolllinks a:link {
	color: white;
}

#scrolllinks a:visited {
	color: white;
}

#scrolllinks a:hover {
	color: #EEE7E1;
}


#scrolllinks a:active {
	color: #A2B6B8;
}

#maincontent {
	background-color: #EEE7E1;
	width: 1116px;
	margin: 30px;
	text-align: left;
	padding: 20px;
	}