html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {	
    font-family: Calibri, Arial, sans-serif;
    width: 100%;
    background-color: #1C616F;
}

h2, h1, h3{
	font-family: headerfont, Calibri, Arial;
	margin-top: 5px;
}

p {
	margin-bottom: 15px;
}
	
#logo {
	top: 5px;
	z-index: 101;
	float: left;
}

#header {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 40px;
	top: 0;
	background-color: #1C616F;
	border: solid black;
	border-width: 0 0 1px 0;
}

#navbar {
	position: fixed;
	width: 1218px;
	height: 30px;
	text-align: right;
	background-color: #1C616F;
	margin-top: 5px;
	left: 50%;
	transform: translateX(-50%);
}

#navbar li {
	display: inline;
	padding: 0;
	list-style-type: none;
	margin-top: 5px;
}

#navbarcollapsed {
    display: none;
    position: fixed;
    right: 0;
}

#navbarmenu {
    display: block;
}

.navcollapsed {
    display: none;
    background-color: #1C616F;
    width: 150px;
    padding-top: 6px;
    padding-bottom: 5px;
    padding-right: 20px;
    border: solid black;
    border-width: 0 0 1px 0;
    text-align: right;
}

/* when screen < 1250px */
@media only screen and (max-width: 1250px) {
    #logo {
        margin-left: 30px;
    }
    
    #navbar {
        width: 100%;
    }
    
    #navbar li {
        display: none;
    }
    
    #navbarcollapsed {
        display: inline;
    }
}
	
#body {
	width: 1218px;
	margin: auto;
	position: relative;
	top: 40px;
	background-color: #A2B6B8;
	text-align: center;
	border: solid black;
	border-width: 1px 1px 0 1px;
	padding-bottom: 1px;
}

#footer {
	width: 1218px;
	margin: auto;
	height: 50px;
	padding: 12px 0;
	background-color: #D8D8DE;
	position: relative;
	top: 40px;
	text-align: center;
	border: solid black;
	border-width: 1px;
	margin-bottom: 45px;
	z-index: -1;
}

.nav {
	text-decoration: none;
	margin-left: 20px;
	font-size: 1.5em;
	font-family: headerfont, Georgia, sans-serif;
}

a.nav:link {
	color: white;
}	

a.nav:visited {
	color: white;
}	

a.nav:hover {
	color: #EEE7E1;
}

a.nav:active {
	color: #A2B6B8;
}

#sitemap1 {
	display: inline-block;
	width: 140px;
	vertical-align: top;
	margin-right: 25px;
}

#sitemap2 {
	display: inline-block;
	width: 100px;
	vertical-align: top;
}

#sitemap3 {
	display: inline-block;
	width: 100px;
	vertical-align: top;
}

#sitemap4 {
	display: inline-block;
	width: 100px;
	vertical-align: top;
}

#sitemap5 {
	display: inline-block;
	width: 100px;
	vertical-align: top;
}

.sitemaplink {
	text-decoration: none;
}

a.sitemaplink:link {
	color: black;
}	

a.sitemaplink:visited {
	color: black;
}	

a.sitemaplink:hover {
	color: #1C616F;
}

a.sitemaplink:active {
	color: white;
}

@font-face {
	font-family: 'navfont';
	src: url('ITC Avant Garde Gothic LT Bold.otf');
}

@font-face {
	font-family: 'headerfont';
	src: url('ITC Avant Garde Gothic Book Regular.otf');
}

.hidden { 
    display: none;
}