.termblock {
	width: 230px;
	background-color: #EEE7E1;
	padding: 20px;
	display: inline-block;
	vertical-align: top;
	height: 320px;
}

a {
	text-decoration: none;
}

a:link {
    color: blue;
}

a:visited {
	color: blue;
}

a:hover {
	color: #1C616F;
}

a:active {
	color: white;
}

#termblock1 {
	margin: 30px 22px 0 30px;
}

#termblock2 {
	margin: 30px 21px 0 0;
}

#termblock3 {
	margin: 30px 22px 0 0;
}

#termblock4 {
	margin: 30px 30px 0 0;
}

#maincontent {
	width: 1116px;
	background-color: #EEE7E1;
	margin: 30px;
	padding: 20px;
	text-align: left;
}

table {
    width: inherit;
    border-spacing: 0;
}

th {
    padding: 0 5px;
    text-decoration: underline;
    font-size: 1.2em;
}

td {
    padding: 5px;
}

.leftcol {
    text-align: left;
}

.rightcol {
    text-align: right;
}

.coursedescription {
    display: none;
}