.termblock {
	width: 230px;
	background-color: #EEE7E1;
	border: solid black;
	padding: 20px;
	display: inline-block;
	vertical-align: top;
	height: 320px;
}
    
#termblock1 {
	margin: 30px 0 0 30px;
	border-width: 1px;
}

#termblock2 {
	margin: 30px 0 0 0;
	border-width: 1px 1px 1px 0;
}

#termblock3 {
	margin: 30px 0 0 0;
	border-width: 1px 1px 1px 0;
}

#termblock4 {
	margin: 30px 30px 0 0;
	border-width: 1px 1px 1px 0;
}

#maincontent {
	width: 1116px;
	background-color: #EEE7E1;
	margin: 30px;
	padding: 20px;
	text-align: left;
}

table {
    width: inherit;
    border-spacing: 10px;
}

th {
    text-decoration: underline;
}

.leftcol {
    text-align: left;
}

.rightcol {
    text-align: right;
}