#forumhead {
	display: inline-block
}

#loginhead {
	display: inline-block;
	float: right;
}

#account {
    clear: both;
    float: right;
    border: solid 1px black;
	background-color: #A2B6B8;
    
}

#logintab {
    border: solid black;
    border-width: 0 0 0 1px;
}

#registertab {
    border: solid black;
    border-width: 0 0 0 0;
}

#accountform {
    background-color: white;
}

#loginform {
    display: none;	
	background-color: white;
	text-align: right;
	padding: 10px 0 5px 0;
}

#loginform label {
	display: inline-block;
	width: 80px;
	padding-bottom: 6px;
	text-align: right;
}

#loginform form {
	padding-right: 5px;
}

#registerform {
    display: none;	
	background-color: white;
	text-align: right;
	padding: 10px 0 5px 0;
}

#registerform label {
	display: inline-block;
	width: 80px;
	padding-bottom: 6px;
	text-align: right;
}

#registerform form {
	padding-right: 5px;
}

.accounttab {
    width: 120px;
    float: right;
    text-align: center;
    font-size: 1.1em;
    display: inline-block;
    user-select: none;
}

#accountform label {
    float: left;
}

#accountform input {
    float: right;
}

#loginsubmit, #registersubmit {
    clear: both;
    float: right;
}

#maincontent {
	width: 1116px;
	background-color: #EEE7E1;
	margin: 30px;
	padding: 20px;
	text-align: left;
}

#accountlogin {
	text-align: right;
}

#postthreadbutton {
	margin: 80px 0 0 0;
}

#forumblock {
	width: 1116px;
}

.row {
	margin: 0;
	padding: 5px;
	border: solid black;
	border-width: 0 1px 1px 1px;
}

.rowtitle {
	background-color: #A2B6B8;
	border: solid black;
	border-width: 1px 1px 1px 1px;
	font-family: headerfont, Calibri, Arial;
	font-size: 1.2em;
}

.rowthread {
    background-color: white;
    color: black;
}

.threadtitle {
    display: inline-block;
	font-weight: bold;
}

.threadtimestamp {
    display: inline-block;
    float: right;
	font-weight: bold;
}

.threadcontent {
    display: none;
	margin: 10px 20px;
}

.threadauthor {
    display: none;
	text-align: right;
	font-style: italic;
}

.threadreplybutton {
    display: none;
	position: relative;
	left: 1021px;
}

#postthreadform {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 500px;
    background-color: #EEE7E1;
    border: solid 1px black;
}

#postreplyform {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 500px;
    background-color: #EEE7E1;
    border: solid 1px black;
}

.warning {
    display: none;
    color: red;
}

input {
	margin: 2px;
}

textarea {
    resize: none;
}
