#forumhead {
	display: inline-block;
}

#loginhead {
	display: inline-block;
	float: right;
}

#maincontent {
	width: 1116px;
	background-color: #EEE7E1;
	margin: 30px;
	padding: 20px;
	text-align: left;
}

#loginsubmit {
}

#registersubmit {
}

#accountlogin {
	text-align: right;
}

#forumblock {
	margin: 10px 0 0 55px;
	width:1000px;
}

#tableheader {
	background-color: #A2B6B8;
}

.tablesubheader {
	background-color: #1C616F;
	color: white;
	}

label {
}

input {
	margin: 2px;
}

table {
	width: 1000px;
	margin: 10px 0 0 0;
}

td {
	padding: 5px;
	border: solid black;
	border-width: 1px;
}

