#forumhead {
	display: inline-block;
}

#loginhead {
	display: inline-block;
	float: right;
}

#maincontent {
	width: 1116px;
	background-color: #EEE7E1;
	margin: 30px;
	padding: 20px;
	text-align: left;
}

#accountlogin {
	text-align: right;
}

#forumblock {
	margin: 10px 0 0 0;
	width: 1116px;
}

#row1 {
	background-color: #A2B6B8;
	border: solid black;
	border-width: 1px 1px 1px 1px;
	font-family: headerfont, Calibri, Arial;
	font-size: 1.2em;
}
	
#row2 {
	background-color: #1C616F;
	color: white;
}

#row3 {
	background-color: white;
}

#row4 {
	background-color: white;
}

#row5 {
	background-color: white;
}
	
#row6 {
	background-color: #1C616F;
	color: white;
}

#row7 {
	background-color: white;
}
.row {
	margin: 0;
	padding: 5px;
	border: solid black;
	border-width: 0 1px 1px 1px;
}

input {
	margin: 2px;
}
