#maincontent {
	width: 1116px;
	background-color: #EEE7E1;
	margin: 30px;
	padding: 20px;
	text-align: left;
}

#body img {
	margin: 0 10px 0 10px;
}

#bar1, #bar2 {
	border: solid black;
	border-width: 1px 0 0 0;
	padding-top: 20px;
}