#maincontent {
	width: 1116px;
	background-color: #EEE7E1;
	margin: 30px;
	padding: 20px;
	text-align: left;
}

#body img {
	margin: 0 10px 0 10px;
}

#bar1, #bar2 {
	border: solid black;
	border-width: 1px 0 0 0;
	padding-top: 20px;
}

#bar2 {
	margin-top: 10px;
}

#alumni1, #alumni2, #alumni3, #alumni4, #alumni5, #story1, #story2, #story3, #story4, #story5 {
	display: none;
}