#maincontent {
	width: 1116px;
	background-color: #EEE7E1;
	margin: 30px;
	padding: 20px;
	text-align: left;
}

#body img {
	margin: 0 10px 0 10px;
}

#bar1, #bar2 {
	border: solid black;
	border-width: 1px 0 0 0;
	padding-top: 20px;
}

#bar2 {
	margin-top: 10px;
}

#alumni1, #alumni2, #alumni3, #alumni4, #alumni5 {
	display: none;
}

#cspictures {
	height: 100%;
	padding-bottom: 100px;
}

.h2name {
	color: white;
	background-color: #1C616F;
	padding-left: 10px;
}

/* Table CSS */
table {
    border-collapse: collapse;
}

tr, td, th {
    padding: 5px;
	border: solid 1px black;
}

.quest {
	width: 300px;
	padding-left: 5px;
	font-weight: bold;
}

.quest1 {
	width: 300px;
	padding-left: 5px;
	font-weight: bold;
	background-color: blue;
	color: white;
}

.answername {
	width: 800px;
	padding-left: 15px;
	color: white;
	background-color: blue;
}

.answer {
	width: 800px;
	padding-left: 15px;
	color: black;
}

.interviewsection {
    margin-bottom: 20px;
}